src/flows.json
[{"id":"f998fc22.8fa5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a4925c3e.8e39c","type":"mqtt in","z":"f998fc22.8fa5c","name":"","topic":"#","qos":"2","datatype":"auto","broker":"8fdc25f4.5fb548","x":130,"y":140,"wires":[["65ee1072.634f7"]]},{"id":"65ee1072.634f7","type":"json","z":"f998fc22.8fa5c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":140,"wires":[["3902e12f.8891ae","cb8c6c16.14f58"]]},{"id":"cb8c6c16.14f58","type":"debug","z":"f998fc22.8fa5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":300,"wires":[]},{"id":"3902e12f.8891ae","type":"function","z":"f998fc22.8fa5c","name":"Parse Node","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nif ( msg.payload.end_device_ids.device_id == \"\")\n{\n    msg1.payload = msg.payload;\n    return [msg1, null, null];\n}\nelse if ( msg.payload.end_device_ids.device_id == \"\")\n{\n    msg2.payload = msg.payload;\n    return [null, msg2, null];\n}\nelse if ( msg.payload.end_device_ids.device_id == \"\")\n{\n    msg3.payload = msg.payload;\n    return [null, null, msg3];\n}\n\n","outputs":3,"noerr":0,"x":570,"y":140,"wires":[[],[],[]]},{"id":"8fdc25f4.5fb548","type":"mqtt-broker","z":"","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]